body{
    /* max-width: 400px;
    max-height: 600px;
    min-width: 320px;
    min-height: 600px; */
    height: 100%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .3);
    position: relative;
    background-image: url(https://ws4.sinaimg.cn/large/006tNc79gy1fjzjozhln2j31hc0zl170.jpg);
    /* background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: cover;
}
nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
header{
    text-align: center;
    height: 40px;
}
main{
    /* height: calc(600px - 60px - 40px); */
    height: 100%;
}
.today,.week,.suggestion{
    width: 100%;
    height: 80%;
    margin-top: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
}
.today .temperature{
    height: 40%;
    font-size: 60px;
}
.today #weather{
    height: 40%;
}
.today .date{
    height: 20%;
}
.today .temperature,#weather,.date{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
} 



nav>ul{
    height: 100%;
}
nav>ul>li{
    display: inline-block;
    text-align: center;
    width: 49.5%;
    height: 100%;
    cursor: pointer;
}

/* div,li{
    border: 1px solid yellow;
} */
.active{
    display: none;
}
.week .future{
    height: calc(100% / 7);
    font-size: 28px;
    text-align: center;
}
.week .week-icon{
    height: 40px;
}